@import 'normalize.css';

html {
  height: 100%;
  box-sizing: border-box;
  color: #222;
  font-size: 16px;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}

body {
  min-height: 100%;
  margin: 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui;
}

h1,
h2,
h3 {
  text-rendering: optimizeLegibility;
}

a:focus {
  outline: 0;
}
